*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.global-container{
 width:50%;
 margin: 20px auto;
}

header{
  height: 100px;
  background-color: fuchsia;
  
}

.top-container{
  min-height: 300px;
  background-color:#E1D67A;
  margin: 20px 0;
}

.central-container{
  min-height: 400px;
  background-color:#0087FF;
  margin-bottom: 10px;
}

footer{
  height: 50px;
  background-color: #8801FE;
}

.central-title{
  min-height: 70px;
  background-color:#ABCFE7;
}

.aside, .main-content{
  float:left;
}

.aside{
  width:19%;
  min-height: 400px;
  background-color: #ABCFE7;
  margin:10px 0;
}

.main-content{
  width:60%;
  min-height: 400px;
  background-color: #ABCFE7;
  margin: 10px 1%;
}